@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.styled-table thead tr {
  background-color: #b0bced;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #b0bced;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #dbe3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #8fb8ed;
}
